body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.top-banner {
    background-image: url(developer-portfolio/images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 70%;
    padding-top: 10px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.dream-big {
    background-image: url(developer-portfolio/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.experience-item {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    text-align: justify;
}

.experiences-area {
    background-image: url(developer-portfolio/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-wave-developer {
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}

#baby-developer {
    border-left: 7px solid;
    border-image: linear-gradient(blue, green);
    border-image-slice: 1;
}

footer {
    text-align: center;
}